<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>商城(测试)</title>
    <link rel="stylesheet" href="/indexsource/css/css_yan.css"/>
    <script src="/indexsource/js/jquery.min.js"></script>
    <script src="/indexsource/js/pic.js"></script>
</head>
<body>
<!--这是头部-->
<div class="APPtop">
    <a href="#"><img class="fh" src="/indexsource/images/fh.png" alt=""/></a>
    <p class="page">永之泰俱乐部</p>
    <!--<img class="applogo" src="/indexsource/images/applogo.png" alt="" />-->
    <img class="shouse" src="/indexsource/images/shouse.png" alt="" />
</div>
<div class="rbj"></div>
<ul class="menuS">
    <a href="index.html"><p>首页</p></a>
    <a href="#"><p>商城</p></a>
    <a href="#"><p>社区</p></a>
    <a href="#"><p>分享</p></a>
    <a href="#"><p>会员中心</p></a>
</ul>





<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <!--内页的banner图-->
    <div class="nbanner">
        <img src="/indexsource/images/nbanner1.jpg" alt=""/>
    </div>
    <form method="post" action="tradeCreate">
        <table>

            <tr>
                <td>收货地址：{$data.userinfo.address}</td>
                <input type="hidden" name=""/>
            </tr>
            <tr>
                <td>
                    手机号:<input type="number" name="phone_num" value="">
                </td>
            </tr>
            <tr>
                <td>商品：{$data.item.name}</td>
                <td>价格：{$data.item.price}</td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="提交">
                </td>
            </tr>
        </table>
    </form>

</div>





<!--底部-->
<div class="APPbtn">
    <div class="APPbtn1 APPbtnbj">
        <a href="#"><div class="APPbtn1_img">
            <img src="/indexsource/images/Appbottom11.png" alt=""/>
            <img src="/indexsource/images/Appbottom1.png" alt=""/>
        </div>
        </a>
        <a href="#">首页</a>
    </div>
    <div class="APPbtn1">
        <a href="#"><div class="APPbtn1_img">
            <img src="/indexsource/images/Appbottom22.png" alt=""/>
            <img src="/indexsource/images/Appbottom2.png" alt=""/>
        </div>
        </a>
        <a href="#">商城</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/indexsource/images/Appbottom33.png" alt=""/>
                <img src="/indexsource/images/Appbottom3.png" alt=""/>
            </div>
        </a>
        <a href="#">社区</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/indexsource/images/Appbottom44.png" alt=""/>
                <img src="/indexsource/images/Appbottom4.png" alt=""/>
            </div>
        </a>
        <a href="#">分享</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/indexsource/images/Appbottom55.png" alt=""/>
                <img src="/indexsource/images/Appbottom5.png" alt=""/>
            </div>
        </a>
        <a href="#">会员中心</a>
    </div>
</div>
</body>
</html>