<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="robots" content="index,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<title>新建收货地址</title>
	<link href="/public/indexsource/css/css1.css" type="text/css" rel="stylesheet">
	<link href="/public/indexsource/css/css2.css" type="text/css" rel="stylesheet">
	<link href="/public/indexsource/css/css_yan.css" type="text/css" rel="stylesheet">

</head>

<body class="bjhs2">
<!--这是头部-->
<div class="APPtop">
	<!--<a href="#"><img class="fh" src="/public/indexsource/images/fh.png" alt=""/></a>-->
	<p class="page">永之泰俱乐部</p>
	<!--<img class="applogo" src="/public/indexsource/images/applogo.png" alt="" />-->
	<img class="shouse" src="/public/indexsource/images/shouse.png" alt="" />
</div>
<div class="rbj"></div>
<ul class="menuS">
	<a href="index.html">
		<p>首页</p>
	</a>
	<a href="#">
		<p>商城</p>
	</a>
	<a href="#">
		<p>社区</p>
	</a>
	<a href="#">
		<p>分享</p>
	</a>
	<a href="#">
		<p>会员中心</p>
	</a>
</ul>
<div class="big_qb">
	<div class="fapiao">
		<div class="fapiao1"><span>收货人</span><input type="text" name="name" placeholder="请填写收货人姓名"></div>
		<div class="huixian"></div>
		<div class="fapiao1 "><span>联系方式</span><input type="text" name="phone_num" placeholder="请填写收货人联系方式"></div>
		<div class="huixian"></div>
		<div class="fapiao">
			<div class="fapiao1">
				<a href="#"><span>所在地区</span><input type="text" placeholder="请选择收获所在地区"><img src="/public/indexsource/images/jian1.jpg" /></a>
			</div>
			<div class="huixian"></div>
			<div class="fapiao1"><span>详细地址</span><input type="text" placeholder="请填写详细地址"></div>
		</div>
	</div>
	<div class="huixian"></div>
	<div class="mrdz">
		<span>设为默认地址<br><font>注：每次下单时会使用该地址</font></span>
		<div class="mrdz1">
			<label class="switch-btn1 circle-style1" style="top: 20.5rem;">
				<input class="checked-switch1" type="checkbox" />
				<span class="text-switch1"></span>
				<span class="toggle-btn1"></span>
			</label>
		</div>

	</div>
	<div class="shdz15"><a href="#">保存并使用</a></div>
</div>

</body>

</html>