<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>商城(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>
    <!--分割线-->
    <link rel="stylesheet" href="/public/indexsource/pull/css/reset.css" />
    <link rel="stylesheet" href="/public/indexsource/pull/css/pullToRefresh.css" />
    <script src="/public/indexsource/pull/js/iscroll.js"></script>
    <script src="/public/indexsource/pull/js/pullToRefresh.js"></script>
    <script src="/public/indexsource/pull/js/colorful.js"></script>
</head>
<body>
<!--这是头部-->
<div class="APPtop">
    <a href="#"><img class="fh" src="/public/indexsource/images/fh.png" alt=""/></a>
    <p class="page">永之泰俱乐部</p>
    <!--<img class="applogo" src="/public/indexsource/images/applogo.png" alt="" />-->
    <img class="shouse" src="/public/indexsource/images/shouse.png" alt="" />
</div>
<div class="rbj"></div>
<ul class="menuS">
    <a href="index.html"><p>首页</p></a>
    <a href="#"><p>商城</p></a>
    <a href="#"><p>社区</p></a>
    <a href="#"><p>分享</p></a>
    <a href="#"><p>会员中心</p></a>
</ul>



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <!--内页的banner图-->
    <div class="nbanner">
        <img src="/public/indexsource/images/nbanner1.jpg" alt=""/>
    </div>
    <!--<div style="background: black;height: 50px;"></div>-->
    <div class="outer" style="position:relative;">
    <div id="wrapper">
    <!--商品的列表-->
        <ul class="jfhl">
            {foreach $re.itemList as $vo}
            <li class="sc_list" style="padding: 0">
                <a class="jfhl1" href="/item/{$vo.id}"><img src="/public/uploads/{$vo.pic}" alt=""/></a>
                <a class="jfhl2" href="#">{$vo.name}</a>
                <a class="jfhl4" href="#"><span>￥{$vo.price}</span></a>
            </li>
            {/foreach}
        </ul>
    </div>
    </div>
</div>

<div class="pages" style="display: none;">{$re.page}</div>



<!--底部-->
{include file="public/indexsource/foot/footer.html" /}
<script type="text/javascript">
    var winH = $(document.body).height();
    var oneH = $('.APPtop').height();
    var twoH = $('.nbanner').height();
    var threeH = $('.APPbtn').outerHeight(true);
    var h = winH-oneH-twoH-threeH;
    $('.outer').css('height',h);
    refresher.info.pullingDownLable = "释放重置数据...";
    refresher.info.pullDownLable = "下拉重置数据...";
    refresher.info.pullUpLable = "上拉获取更多...";
    refresher.info.pullingUpLable = "释放加载更多...";
    refresher.init({
        id: "wrapper",//<------------------------------------------------------------------------------------┐
        pullDownAction: Refresh,
        pullUpAction: Load
    });
    var generatedCount = 0;
    var el = document.querySelector("#wrapper ul");
    function Refresh() {
        setTimeout(function () {
            page = 1;
            var url = '/ajaxItem/'+page;
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function(data){
                    $('.pages').html(1);
                    if(data.items.length){
                        $("#wrapper ul").empty();
                        $.each(data.items,function(index,ele){
                            var str = " <li class=\"sc_list\" style=\"padding: 0\">\n" +
                                "                <a class=\"jfhl1\" href=\"/item/"+ele.id+"\"><img src=\"/public/uploads/"+ele.pic+"\" alt=\"\"/></a>\n" +
                                "                <a class=\"jfhl2\" href=\"#\">"+ele.name+"</a>\n" +
                                "                <a class=\"jfhl4\" href=\"#\"><span>￥"+ele.price+"</span></a>\n" +
                                "            </li>";
                            $("#wrapper ul").append(str, el.childNodes[0]);
                        })
                    }else{
                        $('.pullUp').css('display','none');
                        layer.msg("没有更多了",{icon:0,time:2000});
                    }
                    wrapper.refresh();/****remember to refresh after action completed！！！   ---id.refresh(); --- ****/

                }
            });

        }, 1000);
    }

    function Load() {
        setTimeout(function () {
            var page = $('.pages').html();
            page = parseInt(page)+1;
            var url = '/ajaxItem/'+page;
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function(data){
                    // console.log(data);return false;
                    if(data.items.length){
                        $('.pages').html(data.pages);
                        $.each(data.items,function(index,ele){
                            var str = " <li class=\"sc_list\" style=\"padding: 0\">\n" +
                                "                <a class=\"jfhl1\" href=\"/item/"+ele.id+"\"><img src=\"/public/uploads/"+ele.pic+"\" alt=\"\"/></a>\n" +
                                "                <a class=\"jfhl2\" href=\"#\">"+ele.name+"</a>\n" +
                                "                <a class=\"jfhl4\" href=\"#\"><span>￥"+ele.price+"</span></a>\n" +
                                "            </li>"
                            $("#wrapper ul").append(str);
                        })
                    }else{
                        $('.pullUp').css('display','none');
                        layer.msg("没有更多了",{icon:0,time:2000});
                    }
                    wrapper.refresh();/****remember to refresh after action completed！！！   ---id.refresh(); --- ****/

                }
            });
        }, 1000);

    }
</script>
</body>
</html>