{include file="public/admins/head/head.html" /}
	<title>分类添加</title>
	<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
	<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form method="post" action="/admin/saveDiscount">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>优惠券号码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input disabled="disabled" type="text" id="name" class="input-text" value="{$re.number}" placeholder="">
				<input type="hidden" value="{$re.number}" name="number">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>折扣：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" id="zk" class="input-text" value="" placeholder="" name="zk">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>请选择服务中心：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
				<select class="select" name="service">
					{foreach $re.service as $vo}
					<option value="{$vo.id}">{$vo.nickname}</option>
					{/foreach}
				</select>
				</span>
			</div>
		</div>

		<div class="row cl" style="margin-top:10px;">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input id="submit" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
{include file="public/admins/foot/foot.html" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/admins/lib/My97DatePicker/foureight/WdatePicker.js"></script>
<script type="text/javascript" src="/public/admins/lib/jquery.validation/oneonefourzero/jquery.validate.js"></script>
<script type="text/javascript" src="/public/admins/lib/jquery.validation/oneonefourzero/validate-methods.js"></script>
<script type="text/javascript" src="/public/admins/lib/jquery.validation/oneonefourzero/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $('#submit').click(function(e){
            e.preventDefault();
            var zk = $('#zk').val();
            var r = /^[1-9]$/;
            // zk = parseInt(zk);
            var re = r.test(zk);
			if(!re){
                return layer.msg('请输入正确的折扣!',{icon:2,time:1000});
			}
            var form = $("form");
            var url = form.attr('action');
            var data = form.serialize();
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function(data){
                    if(data.status == 'Success'){
                        layer.msg('优惠券已添加!',{icon:1,time:1000});
					}else{
                        layer.msg('优惠券添加失败!',{icon:2,time:1000});
					}
                    setTimeout(function(){
                        var index = parent.layer.getFrameIndex(window.name);
                        // parent.$('.btn-refresh').click();
                        window.parent.location.reload();//刷新父页面
                        parent.layer.close(index);
					},3000);

                }
            });
			// var index = parent.layer.getFrameIndex(window.name);
             //        // parent.$('.btn-refresh').click();
			// window.parent.location.reload();//刷新父页面
			// parent.layer.close(index);


		});




    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>