{include file="public/admins/head/head.html" /}
<title>权限管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="post" action="" target="_self">
			<input type="text" class="input-text" style="width:250px" placeholder="权限名称" id="" name="">
			<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜权限节点</button>
		</form>
	</div>
	<script>
        function datadel(){
            layer.confirm('确认要删除这些优惠券吗？',function(){
                var table = $('#DataTables_Table_0');
                var checkBox = table.find("input:checkbox");
                checkBox.splice(0,1);
                var arr = [];
                checkBox.each(function(){
                    var checked = $(this).prop('checked');
                    if(checked){
                        var id = $(this).parent().next().html();
                        arr.push(id);
                    }

                })
                $.ajax({
                    type: "GET",
                    url: "{:url('/admin/discountDelAll')}",
                    data: {ids:arr},
                    dataType: "json",
                    success: function(data){
                        if(data.status == "Success"){
                            location.reload();
                        }
                    }
                });
			})

            // console.log(arr);

        }
	</script>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		{if condition="($flag)"}
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>
			<a href="javascript:;" onclick="discount_add('优惠券添加','/admin/addDiscount','','310')" class="btn btn-primary radius">
				<i class="Hui-iconfont">
					&#xe600;
				</i> 创建优惠券
			</a>
		</span>
		{/if}
		<span class="r">共有数据：<strong>54</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-bg" id="DataTables_Table_0">
		<thead>
			<tr>
				<th scope="col" colspan="9">权限节点</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				{if condition="($flag)"}
				<th width="200">服务中心名称</th>
				{/if}
				<th width="200">优惠券号码</th>
				<th width="200">优惠折扣</th>
				<th width="200">使用次数</th>
				<th width="200">已用次数</th>
				<th width="200">创建时间</th>
				{if condition="($flag)"}
				<th width="100">操作</th>
				{/if}
			</tr>
		</thead>
		<tbody>
		<script>
            function active_del(dom,id){
                layer.confirm('确认要删除吗？',function(){
                    data = {'id':id};
                    $.ajax({
                        type: "GET",
                        url: "{:url('/admin/discountDel')}",
                        data: data,
                        dataType: "json",
                        success: function(data){
                            location.reload();

                        }
                    });
				});
            }
		</script>
		{foreach $disList as $vo}
			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$vo.id}</td>
				{if condition="($flag)"}
				<td>{$vo.service_cent_name}</td>
				{/if}
				<td>{$vo.number}</td>
				<td>{$vo.zk}折</td>
				<td>{$vo.can_use_count}次</td>
				<td>{$vo.used_count}次</td>
				<td>{$vo.create_time}</td>
				{if condition="($flag)"}
				<td>
					<a style="text-decoration:none" onClick="action(this,'{$vo.id}')" href="javascript:;" title="发货">
						<i class="Hui-iconfont">&#xe6de;</i>
					</a>
					<!--<a title="编辑" href="javascript:;" onclick="admin_cat_edit('角色编辑','/admin/catEdit/','1','','310')" class="ml-5" style="text-decoration:none">-->
						<!--<i class="Hui-iconfont">&#xe6df;</i>-->
					<!--</a>-->
					<a title="删除" href="javascript:;" onclick="active_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
				{/if}
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>
{include file="public/admins/foot/foot.html" /}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/public/admins/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function discount_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-权限-编辑*/
function admin_cat_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>