{include file="public/admins/head/head.html" /}

<title>投票详情</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" disabled value="{$re.title}" placeholder="" id="username" name="username">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" disabled class="input-text" value="{$re.desc}" placeholder="" id="mobile" name="mobile">
			</div>
		</div>
		{foreach name="re.selectArr" item="vo"}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>{$key}：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text" disabled value="{$vo}" placeholder="@" name="email" id="email">票
			</div>
		</div>
		{/foreach}

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary sub radius" type="submit" value="&nbsp;&nbsp;确定&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/admins/foot/foot.html" /}
<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="/public/admins/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/public/admins/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/public/admins/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/public/admins/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.sub').click(function(){
        var index = parent.layer.getFrameIndex(window.name);
        // parent.$('.btn-refresh').click();
        window.parent.location.reload();//刷新父页面
        parent.layer.close(index);
	})
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>