<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>社区详情(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <!--新闻的滚动-->
    <script src="/public/indexsource/js/jcarousellite_1.0.1c4.js" type="text/javascript"></script>
</head>
<body>
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <ul class="sq_list">
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <span>永之泰</span>
                    <span>八分钟前</span>
                </div>
            </div>
            <a class="sq_list2" href="#">{$re.title}</a>
            <a class="sq_list3xq sq_list3" href="#">{$re.content}</a>
            <div class="sq_list4xq sq_list4">
                <span class="sq_list4_zan">{$re.give_good}</span>
            </div>
        </li>
    </ul>
    <!--这是评论的列-->
    <ul class="pinglun_list">
        <li>
            <div class="pinglun_list_img">
                <img src="/public/indexsource/images/head.jpg" alt=""/>
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">永之泰</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        自己坚持每天服用!
                    </div>
                    <div class="pinglun_zan">20</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pinglun_list_img">
                <img src="/public/indexsource/images/head.jpg" alt=""/>
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">永之泰</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        自己坚持每天服用!
                    </div>
                    <div class="pinglun_zan">20</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pinglun_list_img">
                <img src="/public/indexsource/images/head.jpg" alt=""/>
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">永之泰</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        自己坚持每天服用!
                    </div>
                    <div class="pinglun_zan">20</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pinglun_list_img">
                <img src="/public/indexsource/images/head.jpg" alt=""/>
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">永之泰</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        自己坚持每天服用!
                    </div>
                    <div class="pinglun_zan">20</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pinglun_list_img">
                <img src="/public/indexsource/images/head.jpg" alt=""/>
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">永之泰</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        自己坚持每天服用!
                    </div>
                    <div class="pinglun_zan">20</div>
                </div>
            </div>
        </li>
       <li>
           <div class="pinglun_list_img">
               <img src="/public/indexsource/images/head.jpg" alt=""/>
           </div>
           <div class="pinglun_list_text">
                 <div class="pinglun_list_text1">永之泰</div>
                 <div class="pinglun_con">
                     <div class="pinglun_con_text">
                         自己坚持每天服用!
                         自己坚持每天服用!
                         自己坚持每天服用!
                         自己坚持每天服用!
                         自己坚持每天服用!
                         自己坚持每天服用!
                     </div>
                     <div class="pinglun_zan1">21</div>
                 </div>
           </div>
       </li>
    </ul>
</div>








<!--这是社区详情的底部-->
<div class="sq_btn">
    <img class="sq_btn1" src="/public/indexsource/images/bi.png" alt=""/>
    <textarea class="sq_btn2" placeholder="我来说几句"></textarea>
    <img class="sq_btn3" src="/public/indexsource/images/zan.png" alt=""/>
</div>
</body>
</html>