<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>社区详情(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <!--新闻的滚动-->
    <script src="/public/indexsource/js/jcarousellite_1.0.1c4.js" type="text/javascript"></script>
    <script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>
</head>
<body>
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <ul class="sq_list">
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <span>{$re.art.author}</span>
                    <!--<span>{$re.art.create_time}</span>-->
                </div>
            </div>
            <a class="sq_list2" href="#">{$re.art.title}</a>
            <a class="sq_list3xq sq_list3" href="#">{$re.art.content}</a>
            <div class="sq_list4xq sq_list4">
                {if condition="($re.art.artFlag)"}
                <span class="sq_list4_zan1 artclick" style="border: 0.1rem solid #faa73f;">{$re.art.give_good}</span>
                {else/}
                <span class="sq_list4_zan artclick">{$re.art.give_good}</span>
                {/if}
            </div>
            <input id="artId" type="hidden" name="artId" value="{$re.art.id}"/>
        </li>
    </ul>
    <!--这是评论的列-->
    <ul class="pinglun_list">
        {foreach $re.talk as $vo}
        <li>
            <div class="pinglun_list_img">
                {if condition="($vo.pic != '')"}
                <img src="/public/uploads/{$vo.pic}" alt=""/>
                {else/}
                <img src="/public/indexsource/images/head.jpg" alt=""/>
                {/if}
            </div>
            <div class="pinglun_list_text">
                <div class="pinglun_list_text1">{$vo.nickname}</div>
                <div class="pinglun_con">
                    <div class="pinglun_con_text">
                        {$vo.user_talk}
                    </div>
                    {if condition="($vo.plFlag)"}
                    <div class="pinglun_zan1 plclick"  plId="{$vo.id}">{$vo.give_good}</div>
                    {else/}
                    <div class="pinglun_zan plclick" plId="{$vo.id}">{$vo.give_good}</div>
                    {/if}
                    <!--<div class="plId" style="display: none;">{$vo.id}</div>-->
                </div>
            </div>
        </li>
        {/foreach}


    </ul>
</div>








<!--这是社区详情的底部-->
<div class="sq_btn">
    <img class="sq_btn1" src="/public/indexsource/images/bi.png" alt=""/>
    <textarea name="userTalk" class="sq_btn2 userTalk" placeholder="我来说几句"></textarea>
    <img class="sq_btn3" src="/public/indexsource/images/zan.png" alt=""/>
</div>

<script>
    $(function(){
        $('.plclick').click(function(){
            var plId = $(this).attr('plId');
            // console.log(plId);return;
            $.ajax({
                type: 'get',
                url: '/plGiveGood/'+plId,
                dataType: 'json',
                success: function(re){
                    if(re.url){
                        layer.msg('请先登录！',{icon:0,time:1000});
                        setTimeout(function(){window.location.href=re.url},1000);
                        return false;
                    }
                    if(re.status == 'success'){
                        layer.msg(re.msg,{icon:1,time:1000});
                        setTimeout(function(){window.location.reload()},1000);
                    }else{
                        layer.msg(re.msg,{icon:0,time:1000});
                    }

                },
                error:function(re) {
                    console.log(re.msg);
                },
            });
        })

        $('.artclick').click(function(){
            var artId = $('#artId').val();
            $.ajax({
                type: 'get',
                url: '/artGiveGood/'+artId,
                dataType: 'json',
                success: function(re){
                    if(re.url){
                        layer.msg('请先登录！',{icon:0,time:1000});
                        setTimeout(function(){window.location.href=re.url},1000);
                        return false;
                    }
                    if(re.status == 'success'){
                        layer.msg(re.msg,{icon:1,time:1000});
                        setTimeout(function(){window.location.reload()},1000);
                    }else{
                        layer.msg(re.msg,{icon:0,time:1000});
                    }

                },
                error:function(re) {
                    console.log(re.msg);
                },
            });
        })

        $('.sq_btn3').click(function(){
            var userTalk = $('.userTalk').val();
            if(userTalk == ''){
                return layer.msg('请输入评论内容!',{icon:0,time:1000});
            }
            var artId = $('#artId').val();
            var data = {'artId':artId,'userTalk':userTalk};
            $.ajax({
                type: 'POST',
                url: '/artTalk',
                data:data,
                dataType: 'json',
                success: function(re){
                    if(re.url){
                        layer.msg('请先登录！',{icon:0,time:1000});
                        setTimeout(function(){window.location.href=re.url},1000);
                        return false;
                    }
                    if(re.status == 'success'){
                        layer.msg('评论成功!',{icon:1,time:1000});
                        setTimeout(function(){window.location.reload()},1000);
                    }else{
                        // $(obj).parents("tr").remove();
                        layer.msg('评论失败!',{icon:0,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data.msg);
                },
            });

        })
    })
</script>
</body>
</html>