<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>社区(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <!--新闻的滚动-->
    <script src="/public/indexsource/js/jcarousellite_1.0.1c4.js" type="text/javascript"></script>
</head>
<body>
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}


<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <!--这是社区的几个图标按钮-->
    <ul class="sq">
        <li>
            <a class="sq_text" href="#"><img src="/public/indexsource/images/sq_1.png" alt=""/>服务中心</a>
        </li>
        <li>
            <a class="sq_text" href="#"><img src="/public/indexsource/images/sq_2.png" alt=""/>社区活动</a>
        </li>
        <li>
            <a class="sq_text" href="#"><img src="/public/indexsource/images/sq_3.png" alt=""/>健康知识</a>
        </li>
        <li>
            <a class="sq_text" href="#"><img src="/public/indexsource/images/sq_4.png" alt=""/>积分交流</a>
        </li>
    </ul>

    <ul class="sq_list">
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <!--<span>永之泰</span>-->
                    <!--<span>八分钟前</span>-->
                    <p>永之泰</p>
                    <p>八分钟前</p>
                </div>
            </div>
            <a class="sq_list2" href="#">参加社群活动</a>
            <a class="sq_list3" href="#">服用前提交相应身体检查报告，十盒服用完后，再次进行身体检查，提交报告。新会员需加入服务中心的社群，按要求参加社群活动。自己坚持每天服用，每周将服用后感受反馈至社群中。</a>
            <div class="sq_list4">
                <span class="sq_list4_zan1">307</span>
                <span class="sq_list4_ping1">30</span>
            </div>
        </li>

        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <p>永之泰</p>
                    <p>八分钟前</p>
                </div>
            </div>
            <a class="sq_list2" href="#">参加社群活动</a>
            <a class="sq_list3" href="#">服用前提交相应身体检查报告，十盒服用完后，再次进行身体检查，提交报告。新会员需加入服务中心的社群，按要求参加社群活动。自己坚持每天服用，每周将服用后感受反馈至社群中。</a>
            <div class="sq_list4">
                <span class="sq_list4_zan">307</span>
                <span class="sq_list4_ping">30</span>
            </div>
        </li>
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <p>永之泰</p>
                    <p>八分钟前</p>
                </div>
            </div>
            <a class="sq_list2" href="#">参加社群活动</a>
            <a class="sq_list3" href="#">服用前提交相应身体检查报告，十盒服用完后，再次进行身体检查，提交报告。新会员需加入服务中心的社群，按要求参加社群活动。自己坚持每天服用，每周将服用后感受反馈至社群中。</a>
            <div class="sq_list4">
                <span class="sq_list4_zan">307</span>
                <span class="sq_list4_ping">30</span>
            </div>
        </li>
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <p>永之泰</p>
                    <p>八分钟前</p>
                </div>
            </div>
            <a class="sq_list2" href="#">参加社群活动</a>
            <a class="sq_list3" href="#">服用前提交相应身体检查报告，十盒服用完后，再次进行身体检查，提交报告。新会员需加入服务中心的社群，按要求参加社群活动。自己坚持每天服用，每周将服用后感受反馈至社群中。</a>
            <div class="sq_list4">
                <span class="sq_list4_zan">307</span>
                <span class="sq_list4_ping">30</span>
            </div>
        </li>
        <li>
            <div class="sq_list1">
                <div class="sq_list_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
                <div class="sq_text">
                    <p>永之泰</p>
                    <p>八分钟前</p>
                </div>
            </div>
            <a class="sq_list2" href="#">参加社群活动</a>
            <a class="sq_list3" href="#">服用前提交相应身体检查报告，十盒服用完后，再次进行身体检查，提交报告。新会员需加入服务中心的社群，按要求参加社群活动。自己坚持每天服用，每周将服用后感受反馈至社群中。</a>
            <div class="sq_list4">
                <span class="sq_list4_zan">307</span>
                <span class="sq_list4_ping">30</span>
            </div>
        </li>
    </ul>

</div>








<!--底部-->
<div class="APPbtn">
    <div class="APPbtn1 APPbtnbj">
        <a href="#"><div class="APPbtn1_img">
            <img src="/public/indexsource/images/Appbottom11.png" alt=""/>
            <img src="/public/indexsource/images/Appbottom1.png" alt=""/>
        </div>
        </a>
        <a href="#">首页</a>
    </div>
    <div class="APPbtn1">
        <a href="#"><div class="APPbtn1_img">
            <img src="/public/indexsource/images/Appbottom22.png" alt=""/>
            <img src="/public/indexsource/images/Appbottom2.png" alt=""/>
        </div>
        </a>
        <a href="#">商城</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/public/indexsource/images/Appbottom33.png" alt=""/>
                <img src="/public/indexsource/images/Appbottom3.png" alt=""/>
            </div>
        </a>
        <a href="#">社区</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/public/indexsource/images/Appbottom44.png" alt=""/>
                <img src="/public/indexsource/images/Appbottom4.png" alt=""/>
            </div>
        </a>
        <a href="#">分享</a>
    </div>
    <div class="APPbtn1">
        <a href="#">
            <div class="APPbtn1_img">
                <img src="/public/indexsource/images/Appbottom55.png" alt=""/>
                <img src="/public/indexsource/images/Appbottom5.png" alt=""/>
            </div>
        </a>
        <a href="#">会员中心</a>
    </div>
</div>
</body>
</html>