<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>首页(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/jquery.flexslider-min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <!--新闻的滚动-->
    <script src="/public/indexsource/js/jcarousellite_1.0.1c4.js" type="text/javascript"></script>
    <!--微信JS-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript"></script>
</head>
<body>
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
    <!--banner图-->
    <div class="Appbanner">
        <div class="flexslider">
            <ul class="slides">
                {foreach $re.indexPic as $vo}
                <li style="background:url(/public/uploads/{$vo.pic})  no-repeat;background-size: 100% 100%"></li>
                {/foreach}
            </ul>
        </div>
    </div>

    <!--公告-->
    <div class="sqrt gonggao">
        <div class="sqrtL gonggaoL">
            <a href="#">
                <img src="/public/indexsource/images/gonggao_bj.jpg" alt=""/>
            </a>
        </div>
        <div class="newsticker-jcarousellite gonggaoR">
            <ul>
                {if condition="(array_key_exists('gg',$re))"}
                {volist name="re.gg" id="vo"}
                <li>
                    <div class="thumbnail"></div>
                    <div class="info"> <a style="width:60%;" href="/noticeDetail/{$vo.id}">{$vo.title}</a> <span class="cat" style="width:40%">【{$vo.create_time}】</span> </div>
                </li>
                {/volist}
                {else /}
                <li>
                    <div class="thumbnail"></div>
                    <div class="info"> <a href="javascript:void(0)">暂时没有公告</a> <span class="cat"></span> </div>
                </li>
                {/if}

            </ul>
        </div>
    </div>




    <!--标题-->
    <div class="title">产品介绍</div>
    <!--产品介绍-->
    {foreach $re.itemInfo as $vo}
    <div class="cpjs">
        <div class="cpjs_img">
            <a href="#"><img src="/public/uploads/{$vo.pic}" alt=""/></a>
        </div>
        <div class="cpjs_text">
            <a class="cpjs_text1" href="#">{$vo.name}</a>
            <a class="cpjs_text2" href="#">
                {$vo.desc}
            </a>
            <div class="cpjs_text3">
                <span class="cpjs_text31">价格：<b>￥{$vo.price}</b></span>
                <a class="cpjs_text32" href="/item/{$vo.id}">购买</a>
            </div>
        </div>
    </div>
    {/foreach}
    <!--社区热帖-->
    <div class="sqrt">
        <div class="sqrtL">
            <a href="#">
                <img src="/public/indexsource/images/sqrt_bj.jpg" alt=""/>
            </a>
        </div>
        <div class="sqrtR">
            <ul>
                {if condition="(array_key_exists('hotArt',$re))"}
                {foreach $re.hotArt as $vo}
                <li>
                    <div class="thumbnail"> <img src="/public/indexsource/images/sqrt_jt.jpg"> </div>
                    <div class="info"> <a style="width:60%;" href="/articleDetail/{$vo.id}">{$vo.title}</a> <span style="width:40%;" class="cat">【{$vo.create_time}】</span> </div>
                </li>
                {/foreach}
                {else/}
                <li>
                    <div class="thumbnail"> <img src="/public/indexsource/images/sqrt_jt.jpg"> </div>
                    <div class="info"> <a style="width:60%;" href="javascript:void(0) ">暂无数据</a> <span style="width:40%;" class="cat"></span> </div>
                </li>
                {/if}
            </ul>
        </div>
    </div>

    <!--标题-->
    <div class="title">积分兑换</div>
    <div class="title_line"><span class="line"></span>积分活动</div>
    <div class="yiyuanhuan">
        <a href="#"><img src="/public/indexsource/images/yiyuanhuan.jpg" alt=""/></a>
    </div>
    <div class="title_line"><span class="line"></span>积分换礼</div>
    <!--积分换礼的列表-->
    <ul class="jfhl">
        {foreach $re.pItem as $vo}
        <li>
            <a class="jfhl1" href="/pointItem/{$vo.id}"><img src="/public/uploads/{$vo.pic}" alt=""/></a>
            <a class="jfhl2" href="/pointItem/{$vo.id}">{$vo.name}</a>
            <!--<a class="jfhl3" href="#">现金价:<span>￥359 <b></b></span></a>-->
            <a class="jfhl4" href="/pointItem/{$vo.id}">积分换购:<span>{$vo.price}积分</span></a>
        </li>
        {/foreach}
    </ul>

    <!--标题-->
    <div class="title">服务中心</div>
    <ul class="fwzx">
        {if condition="(array_key_exists('serArt',$re))"}
        {foreach $re.serArt as $vo}
        <li>
            <a class="fwzx1" style="width:66%;" href="/articleDetail/{$vo.id}"><span>●</span>{$vo.title}</a>
            <a class="fwzx2" style="width:32%;" href="/articleDetail/{$vo.id}">【{$vo.create_time}】</a>
        </li>
        {/foreach}
        {else/}
        <li>
            <a class="fwzx1" style="width:66%;" href="javascript:void(0)"><span>●</span>暂无数据</a>
            <a class="fwzx2" style="width:32%;" href="javascript:void(0)"></a>
        </li>
        {/if}
    </ul>
</div>





{include file="public/indexsource/foot/footer.html" /}

</body>
<script>
    //首页banner图的轮播事件
    $('.flexslider').flexslider({
        directionNav: true,
        pauseOnAction: false
    });
    $(function() {
        $(".newsticker-jcarousellite").jCarouselLite({
            vertical: true,
            hoverPause:true,
            visible:2,
            auto:500,
            speed:1500,
            scroll:1
        });

    });
</script>
</html>


