<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<title>登录页面</title>
		<link href="/public/indexsource/css/css1.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/public/indexsource/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/public/indexsource/js/superslide.2.1.js"></script>
		<link rel="stylesheet" href="/public/indexsource/css/css_yan.css" />

	</head>
	<script type="text/javascript" src="/public/indexsource/js/jquery.min.js"></script>
	<script src="/public/indexsource/js/pic.js"></script>
	<script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>

	<body style="background: white;">
		<!--这是头部-->
		{include file="public/indexsource/head/header.html" /}
		
		
		<div class="tm_big" style="margin-top: 4rem;">
			<form action="/loginCheck" method="post">
				<div class="header">
					<!--<div class="tm_logo"><img src="/public/indexsource/images/tmlogo.png" /></div>-->
					<div class="tm_txt"><span>欢迎回到永之泰</span>
						<font><a href="/weiXinLogin"><img src="/public/indexsource/images/wx.png" /><b>微信登录</b></a></font>
					</div>
				</div>
				<div class="cl"></div>
				<div class="dlym">
					<div class="dlimg1 dlimg"><input type="text" name="username" placeholder="账号"/></div>
					<div class="tm_bottom"></div>
					<div class="dlimg2 dlimg"><input type="password" name="password" placeholder="密码"/></div>
					<div class="tm_bottom"></div>
				</div>
				<button type="button" class="last_button">登录</button>
				<div class="last_mm">
					<a href="/forget"><span>忘记密码</span></a>
					<a href="/register"><font>立即注册></font></a>
				</div>
			</form>
		</div>

	<script>
		$(function(){
		    $('.last_button').click(function(){
		        var form = $('form');
		        var url = form.attr('action');
		        var data = form.serialize();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    dataType: "json",
                    success: function(data){
                        if(data.status == "Success"){
                            layer.msg("登录成功！",{icon:1,time:2000});
                            setTimeout(function(){window.location.href=data.url},3000);
                        }else{
                            layer.msg(data.msg,{icon:0,time:2000});
                        }
                    }
                });
			})

		})
	</script>

	</body>

</html>