<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>服务中心——详情(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
</head>
<body style="background: white">
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}


<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain" style="margin-bottom: 0;">
    <!--内页的banner图-->
    <div class="nbanner">
        <img src="/public/indexsource/images/nbanner1.jpg" alt=""/>
    </div>
    <!--标题-->
    <div class="title">公告详情</div>
    <!--添加资料的内容区-->
    <div class="add_main" style="height: initial;">
        <p class="add_main3" style="text-align: center">{$re.content.title}</p>
        <p class="add_main2">{$re.content.create_time}</p>
        <div class="add_main_box">
            {$re.content.content}
        </div>
    </div>

</div>





<!--底部-->

</body>
</html>