<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>我的订单(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <link rel="stylesheet" href="/public/indexsource/css/css1.css"/>
    <link rel="stylesheet" href="/public/indexsource/css/css2.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
    <!--分割线-->
    <link rel="stylesheet" href="/public/indexsource/pull/css/reset.css" />
    <link rel="stylesheet" href="/public/indexsource/pull/css/pullToRefresh.css" />
    <script src="/public/indexsource/pull/js/iscroll.js"></script>
    <script src="/public/indexsource/pull/js/pullToRefresh.js"></script>
    <script src="/public/indexsource/pull/js/colorful.js"></script>
    <script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>
    <style>
        .APPbtn .APPbtn1{
            width: 20%;
        }
    </style>
</head>
<body>
{include file="public/indexsource/head/header.html" /}


<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain" style="margin-bottom: 0;">
  <div class="user_bj">
       <div class="user_info">
           {if condition="($re.userinfo.pic == ' ')  OR ($re.userinfo.pic  == '')"}
           <div class="user_info_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
           {else /}
           <div class="user_info_img"><img src="/public/uploads/{$re.userinfo.pic}" alt=""/></div>
           {/if}
           <span class="user_info_name">{$re.userinfo.nickname}</span>
       </div>
      <a href="/showNoUsePointList"> <div class="user_jifen" style="bottom:4rem">可用积分：{$re.userinfo.allPoint}</div></a>
      <a href="/showPointList"><div class="user_jifen" style="bottom:1.4rem">薪金宝：{$re.userinfo.allReturnMony}</div></a>
      <div id="userid" data="{$re.userinfo.id}" style="display: none"></div>
  </div>
  <ul class="tap">
      {eq name="$re.trade_type" value="all"}
        <li class="tapbj">
      {else/}
        <li>
      {/eq}
         <a  href="/myTrade/all">全部</a>
     </li>
      <!--<li>-->
          <!--<a href="/myTrade">待付款</a>-->
      <!--</li>-->
      {eq name="$re.trade_type" value="as"}
      <li class="tapbj">
          {else/}
      <li>
          {/eq}
          <a href="/myTrade/as">已发货</a>
      </li>
      {eq name="$re.trade_type" value="pd"}
      <li class="tapbj">
          {else/}
      <li>
          {/eq}

          <a href="/myTrade/pd">待发货</a>
      </li>
      <!--<li>-->
          <!--<a href="/myTrade/">待收货</a>-->
      <!--</li>-->
      {eq name="$re.trade_type" value="finish"}
      <li class="tapbj">
          {else/}
      <li>
          {/eq}
          <a href="/myTrade/finish">已完成</a>
      </li>
  </ul>

</div>
<div style="position:relative;height:340px;">
<div id="wrapper">
    <ul class="order_list" >
        {foreach $re.trade as $vo}
        <li>
            <a href="/tradeDetail/{$vo.id}/{$vo.item_type}">
            <div class="order_list1">
                <div class="order_list1_img">
                    <img src="/public/uploads/{$vo.pic}" alt=""/>
                </div>
                <div class="order_list1_text">
                    <p class="order_list1_text1">{$vo.item_name}</p>
                    {eq name="$vo.item_type" value="0"}
                    <p class="order_list1_text2">{$vo.buy_price}元</p>
                    {else/}
                    <p class="order_list1_text2">{$vo.buy_price}积分</p>
                    {/eq}
                </div>
            </div>
            </a>
            {eq name="$vo.item_type" value="0"}
            <div class="order_list2">共{$vo.buy_num}件商品{$vo.trade_type} 合计{$vo.buy_price}元 &nbsp;</div>
            {else/}
            <div class="order_list2">共{$vo.buy_num}件商品{$vo.trade_type} 合计{$vo.buy_price}积分 &nbsp;</div>
            {/eq}
            <div class="order_list3">
                <!--<a class="order_list31" href="#">查看物流</a>-->
                {eq name="$vo.trade_status" value="2"}
                <span>订单已完成!</span>
                {else/}
                {eq name="$vo.trade_type" value="未发货"}
                <a class="order_list31 deltrade" tradeid="{$vo.id}" href="#">删除订单</a>
                {/eq}
                <a class="order_list32 getTrue" tradeid="{$vo.id}" href="#">确认收货</a>
                {/eq}
            </div>
        </li>
        {/foreach}

    </ul>
</div>
</div>
<div id="type" data="{$re.trade_type}" style="display: none;"></div>
<div id="page" data="1" style="display: none;"></div>
<div class="jifen5">
    <div class="jifen5_1">
        <span style="text-align: center">你确定<i>收货</i>吗？</span>
    </div>
    <div>
        <button type="button" class="button1"><a href="#">确定</a></button>
        <button type="button" class="button2"><a href="#">取消</a></button>
    </div>
</div>
<div class="jifendel5">
    <div class="jifendel5_1">
        <span style="text-align: center">你确定<i>删除订单</i>吗？</span>
    </div>
    <div>
        <button type="button" class="button1"><a href="#">确定</a></button>
        <button type="button" class="button2"><a href="#">取消</a></button>
    </div>
</div>
<!--<div style="height:50px;background: red">222222</div>-->
<script>
    $(function(){
        $('#wrapper').on('click','.getTrue',function(){
            var tradeId = $(this).attr('tradeid');
            var index = $(this).parents('li').index();
            $(".jifen5").css("display", "block").attr('tradeid',tradeId).attr('index',index);
        })

        $('#wrapper').on('click','.deltrade',function(){
            var tradeId = $(this).attr('tradeid');
            var index = $(this).parents('li').index();
            $(".jifendel5").css("display", "block").attr('tradeid',tradeId).attr('index',index);
        })

        $(".jifendel5 .button1").on('click',function() {
            var tradeId = $(".jifendel5").attr('tradeid');
            var index = $(".jifendel5").attr('index');
            var url = '/tradeDel';
            var data = {'tradeId':tradeId};

            $.ajax({
                type: "GET",
                url: url,
                data: data,
                dataType: "json",
                success: function(data){
                    if(data.status == "Success"){
                        layer.msg("订单删除成功！",{icon:0,time:2000});
                        $('.order_list').find('li').eq(index).remove();
                    }else{
                        layer.msg("订单删除失败！",{icon:0,time:2000});
                    }
                    // location.reload();
                }
            });
            $(".jifendel5").css("display", "none");
        })
        $(".jifendel5 .button2").click(function() {
            $(".jifendel5").css("display", "none");
        })


        $(".jifen5 .button1").on('click',function() {
            var tradeId = $(".jifen5").attr('tradeid');
            var index = $(".jifen5").attr('index');
            var url = '/trueGet';
            var data = {'tradeId':tradeId};

            $.ajax({
                type: "GET",
                url: url,
                data: data,
                dataType: "json",
                success: function(data){
                    if(data.status == "Success"){
                        layer.msg("确认订单成功！",{icon:0,time:2000});
                        $('.order_list').find('li').eq(index).find('.order_list3').html('<span>订单已完成！</span>');
                    }else{
                        layer.msg("确认订单失败！",{icon:0,time:2000});
                    }
                    // location.reload();
                }
            });
            $(".jifen5").css("display", "none");
        })
        $(".button2").click(function() {
            $(".jifen5").css("display", "none");
        })
    })
</script>
<script>
    refresher.info.pullingDownLable = "释放重置数据...";
    refresher.info.pullDownLable = "下拉重置数据...";
    refresher.info.pullUpLable = "上拉获取更多...";
    refresher.info.pullingUpLable = "释放加载更多...";
    refresher.init({
        id: "wrapper",//<------------------------------------------------------------------------------------┐
        pullDownAction: Refresh,
        pullUpAction: Load
    });
    var generatedCount = 0;
    function Refresh() {
        setTimeout(function () {

            var el, li, i;
            el = document.querySelector("#wrapper ul");
            var page = 0;
            var url = "/ajaxGetTrade";
            var type = $('#type').attr('data');
            var userid = $('#userid').attr('data');
            var data = {'page':page,'type':type,'userid':userid};
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function(data){
                    console.log(data);
                    if(data.trades.length){
                        $('#page').attr('data',1);
                        $('.order_list li').remove();
                        $.each(data.trades,function (index,ele) {
                            if(ele.item_type == 0){
                                var dw = "元";
                            }else{
                                var dw = "积分";
                            }
                            if(ele.trade_type == "已完成"){
                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    " <div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/"+ele.pic+"\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">"+ele.item_name+"</p>\n" +
                                    "                    <p class=\"order_list1_text2\">"+ele.buy_price+"元</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "           <div class=\"order_list2\">共"+ele.buy_num+"件商品 " +
                                    "<span>订单已完成</span>"+
                                    "合计"+ele.buy_price+dw+" &nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "            </div>" +
                                    "            </a>"+
                                    "</li>";
                            }else if(ele.trade_type == "已发货"){
                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    "<div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/" + ele.pic + "\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">" + ele.item_name + "</p>\n" +
                                    "                    <p class=\"order_list1_text2\">" + ele.buy_price +dw+ "</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "           <div class=\"order_list2\">共"+ele.buy_num+"件商品 " +
                                    "<span>已发货</span>"+
                                    "合计"+ele.buy_price+dw+"&nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "                <a class=\"order_list32 getTrue\" tradeid=\" " + ele.id + " \" href=\"#\">确认收货</a>\n" +
                                    "            </div>" +
                                    "            </a>"+
                                    "</li>";
                            }else{

                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    "<div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/" + ele.pic + "\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">" + ele.item_name + "</p>\n" +
                                    "                    <p class=\"order_list1_text2\">" + ele.buy_price + dw+"</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "           <div class=\"order_list2\">共"+ele.buy_num+"件商品" +
                                    "<span>未发货</span>"+
                                    " 合计"+ele.buy_price+dw+" &nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "                <a class=\"order_list31 deltrade\" tradeid=\" " + ele.id + " \" href=\"#\">删除订单</a>\n" +
                                    "                <a class=\"order_list32 getTrue\" tradeid=\" " + ele.id + " \" href=\"#\">确认收货</a>\n" +
                                    "            </div>" +
                                    "            </a>"+
                                    "</li>";
                            }
                            // console.log(el.childNodes[0]);
                            $("#wrapper ul").append(xx, el.childNodes[0]);
                        });
                    }else{
                        layer.msg("没有更多了",{icon:0,time:2000});

                    }
                    wrapper.refresh();
                }
            });
            // wrapper.refresh();/****remember to refresh after  action completed！ ---yourId.refresh(); ----| ****/
            // for (var i = 0; i < document.querySelectorAll("#wrapper ul li").length; i++) {
            //     document.querySelectorAll("#wrapper ul li")[i].colorfulBg();
            // }
        }, 1000);

    }

    function Load() {
        setTimeout(function () {
            // var el, li, i;
            // el = document.querySelector("#wrapper ul");
            // el.innerHTML = '';
            // for (i = 0; i < 11; i++) {
            //
            //     li = document.createElement('li');
            //     li.appendChild(document.createTextNode('async row ' + (++generatedCount)));
            //     el.insertBefore(li, el.childNodes[0]);
            //
            // }
            // wrapper.refresh();/****remember to refresh after  action completed！ ---yourId.refresh(); ----| ****/
            // for (var i = 0; i < document.querySelectorAll("#wrapper ul li").length; i++) {
            //
            //     document.querySelectorAll("#wrapper ul li")[i].colorfulBg();
            //
            // }
            var el, li, i;
            el = document.querySelector("#wrapper ul");
            var page = $('#page').attr('data');
            var url = "/ajaxGetTrade";
            var type = $('#type').attr('data');
            var userid = $('#userid').attr('data');
            var data = {'page':page,'type':type,'userid':userid};

            // console.log(page);return;
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function(data){
                    if(data.trades.length){
                        $('#page').attr('data',data.page);
                        $.each(data.trades,function (index,ele) {
                            if(ele.item_type == 0){
                                var dw = "元";
                            }else{
                                var dw = "积分";
                            }
                            if(ele.trade_type == "已完成"){
                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    " <div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/"+ele.pic+"\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">"+ele.item_name+"</p>\n" +
                                    "                    <p class=\"order_list1_text2\">"+ele.buy_price+dw+"</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "            <div class=\"order_list2\">共"+ele.buy_num+"件商品 " +
                                    "<span>订单已完成</span>"+
                                    "合计"+ele.buy_price+dw+" &nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "            </div>" +
                                    "</li>";
                            }else if(ele.trade_type == "已发货"){
                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    " <div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/" + ele.pic + "\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">" + ele.item_name + "</p>\n" +
                                    "                    <p class=\"order_list1_text2\">" + ele.buy_price + dw+"</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "            <div class=\"order_list2\">共" + ele.buy_num + "件商品 " +
                                    "<span>已发货</span>"+
                                    "合计" + ele.buy_price +dw+ " &nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "                <a class=\"order_list32 getTrue\" tradeid=\" " + ele.id + " \" href=\"#\">确认收货</a>\n" +
                                    "            </div>" +
                                    "</li>";
                            }else{

                                xx = "<li><a href='/tradeDetail/" +ele.id+'\/'+ele.item_type+'\'>'+
                                    " <div class=\"order_list1\">\n" +
                                    "                <div class=\"order_list1_img\">\n" +
                                    "                    <img src=\"/public/uploads/" + ele.pic + "\" alt=\"\"/>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"order_list1_text\">\n" +
                                    "                    <p class=\"order_list1_text1\">" + ele.item_name + "</p>\n" +
                                    "                    <p class=\"order_list1_text2\">" + ele.buy_price + dw+"</p>\n" +
                                    "                </div>\n" +
                                    "            </div>\n" +
                                    "            <div class=\"order_list2\">共" + ele.buy_num + "件商品" +
                                    "<span>未发货</span>"+
                                    " 合计" + ele.buy_price + dw+" &nbsp;</div>\n" +
                                    "            <div class=\"order_list3\">\n" +
                                    "                <a class=\"order_list31 deltrade\" tradeid=\" " + ele.id + " \" href=\"#\">删除订单</a>\n" +
                                    "                <a class=\"order_list32 getTrue\" tradeid=\" " + ele.id + " \" href=\"#\">确认收货</a>\n" +
                                    "            </div>" +
                                    "</li>";
                            }
                            // console.log(el.childNodes[1]);return false;
                            // $("#wrapper ul").append(xx, el.childNodes[1]);
                            $("#wrapper ul").append(xx);
                        });
                    }else{
                        $('.pullUp').css('display','none');
                        layer.msg("没有更多了",{icon:0,time:2000});
                    }
                    wrapper.refresh();
                    // location.reload();
                }
            });
            // wrapper.refresh();/****remember to refresh after action completed！！！   ---id.refresh(); --- ****/
        }, 1000);
    }
</script>


<!--底部-->
{include file="public/indexsource/foot/footer.html" /}
</body>
</html>