<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>个人中心</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
</head>
<body>
<!--这是头部-->
{include file="public/indexsource/head/header.html" /}



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
  <div class="user_bj">
       <div class="user_info">
           {if condition="($re.userinfo.pic == ' ')  OR ($re.userinfo.pic  == '')"}
           <div class="user_info_img"><img src="/public/indexsource/images/head.jpg" alt=""/></div>
           {else /}
           <div class="user_info_img"><img src="/public/uploads/{$re.userinfo.pic}" alt=""/></div>
           {/if}
           <span class="user_info_name">{$re.userinfo.nickname}</span>
       </div>
       <div class="user_jifen" style="bottom:4rem">冻结积分：{$re.userinfo.allPoint}</div>
      <a href="/showPointList"><div class="user_jifen" style="bottom:1.4rem">可用积分：{$re.userinfo.allReturnMony}</div></a>
  </div>
  <ul class="user">
      <li>
          <div class="user_img"><a href="/selfInfo"><img src="/public/indexsource/images/user1.jpg" alt=""/></a></div>
          <a class="user_text" href="/selfInfo">个人信息</a>
      </li>
      <li>
          <div class="user_img"><a href="/myTrade"><img src="/public/indexsource/images/user2.jpg" alt=""/></a></div>
          <a class="user_text" href="/myTrade">我的订单</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user3.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分钱包</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user4.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分托管</a>
      </li>
      <li>
          <div class="user_img"><a href="/givePoint"><img src="/public/indexsource/images/user5.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分赠送</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user6.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分投票</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user7.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分获赠</a>
      </li>
      <li>
          <div class="user_img"><a href="/exitLogin"><img src="/public/indexsource/images/account.png" alt=""/></a></div>
          <a class="user_text" href="#">退出登录</a>
      </li>
  </ul>

    {if condition="($re.flag)"}
    <div style="background:white;text-align: center ;line-height: 2rem;color: #666666;">
        系统总积分数：{$re.userinfo.allSystemCount}<br/>
        已发放：{$re.userinfo.prepareCount}积分<br/>
        剩余：{$re.userinfo.surplusCount}积分
    </div>
    {/if}


</div>






<!--底部-->
{include file="public/indexsource/foot/footer.html" /}
</body>
</html>