<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>个人中心(测试)</title>
    <link rel="stylesheet" href="/public/indexsource/css/css_yan.css"/>
    <script src="/public/indexsource/js/jquery.min.js"></script>
    <script src="/public/indexsource/js/pic.js"></script>
</head>
<body>
<!--这是头部-->
<div class="APPtop user_top">
    <a href="#"><img class="fh" src="/public/indexsource/images/fh.png" alt=""/></a>
    <p class="page">永之泰俱乐部</p>
    <!--<img class="applogo" src="images/applogo.png" alt="" />-->
    <img class="shouse" src="/public/indexsource/images/shouse.png" alt="" />
</div>
<div class="rbj"></div>
<ul class="menuS">
    <a href="index.html"><p>首页</p></a>
    <a href="#"><p>商城</p></a>
    <a href="#"><p>社区</p></a>
    <a href="#"><p>分享</p></a>
    <a href="#"><p>会员中心</p></a>
</ul>



<!--这是最外边的div，用来隔开与底部栏目的高度-->
<div class="Cmain">
  <div class="user_bj">
       <div class="user_info">
           <div class="user_info_img"><img src="/public/uploads/{$re.userinfo.pic}" alt=""/></div>
           <span class="user_info_name">{$re.userinfo.nickname}</span>
       </div>
       <div class="user_jifen" style="bottom:4rem">冻结积分：{$re.userinfo.allPoint}</div>
      <a href="/showPointList"><div class="user_jifen" style="bottom:1.4rem">可用积分：{$re.userinfo.allReturnMony}</div></a>
  </div>
  <ul class="user">
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user1.jpg" alt=""/></a></div>
          <a class="user_text" href="#">个人信息</a>
      </li>
      <li>
          <div class="user_img"><a href="/myTrade"><img src="/public/indexsource/images/user2.jpg" alt=""/></a></div>
          <a class="user_text" href="/myTrade">我的订单</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user3.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分钱包</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user4.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分托管</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user5.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分赠送</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user6.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分投票</a>
      </li>
      <li>
          <div class="user_img"><a href="#"><img src="/public/indexsource/images/user7.jpg" alt=""/></a></div>
          <a class="user_text" href="#">积分获赠</a>
      </li>
  </ul>

</div>






<!--底部-->
{include file="public/indexsource/foot/footer.html" /}
</body>
</html>