<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="robots" content="index,follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
		<title>重置密码</title>
		<link href="/public/indexsource/css/css1.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="/public/indexsource/css/css_yan.css" />
		<link rel="stylesheet" href="/public/indexsource/css/style2.css" />
		<style>
			.dlimg input{
				width:55%!important;
			}
		</style>
	</head>
	<script type="text/javascript" src="/public/indexsource/js/jquery.min.js"></script>
	<script src="/public/indexsource/js/pic.js"></script>
	<script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>

	<body style="background: white;">
		<!--这是头部-->
		{include file="public/indexsource/head/header.html" /}

		<div class="tm_big" style="margin-top: 5rem;">
			<form method="post" action="/saveCPSW">
			<div class="dlym">
				<div class="dlimg11 dlimg">
					<span>密码</span>
					<input class="psw1" name="password" type="password" placeholder="请输入密码" /></div>
					<input type="hidden" name="userId" value="{$id}" />
				<div class="tm_bottom"></div>
				<div class="dlimg11 dlimg">
					<span>确认密码</span>
					<input class="psw2" type="password" placeholder="请输入密码" /></div>
				<div class="tm_bottom"></div>
			</div>
			<button type="button" class="last_button"><a href="#">确定</a></button>
			</form>
		</div>
	<script>
		$(function(){
			$('.last_button').click(function(e){
			    e.preventDefault();
			    var psw1 = $('.psw1').val();
			    var psw2 = $('.psw2').val();
			    if(psw1 != psw2){
                    return layer.msg('两次密码不一致！请重新输入',{icon:2,time:2000});
				}
			    var form = $('form');
			    var url = form.attr('action');
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    dataType: "json",
                    success: function(data){
                        if(data.status == "success"){
                            layer.msg(data.msg,{icon:1,time:2000});
                            setTimeout(function(){window.location.href=data.url},1000);
                        }else{
                            layer.msg(data.msg,{icon:0,time:2000});
                        }
                    }
                });
			})





		})
	</script>

	</body>

</html>