<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>积分</title>
		<link rel="stylesheet" href="/public/indexsource/css/css_yan.css" />
		<link rel="stylesheet" href="/public/indexsource/css/css2.css" />
		<script src="/public/indexsource/js/jquery.min.js"></script>
		<script src="/public/indexsource/js/pic.js"></script>
		<script type="text/javascript" src="/public/admins/lib/layer/twofour/layer.js"></script>
		<style>
			.search{
				background: url('/public/indexsource/images/ss.png') no-repeat center center/cover #fff;;
				background-size: 1.4rem 1.4rem;
			}
		</style>
	</head>

	<body>
		<!--这是头部-->
		{include file="public/indexsource/head/header.html" /}

		<!--这是最外边的div，用来隔开与底部栏目的高度-->
		<div class="Cmain">
			<!--这是用户个人中心的头部-->
			<!--<div class="user_bj">-->
				<!--<div class="user_info">-->
					<!--<div class="user_info_img"><img src="/public/indexsource/images/head.jpg" alt="" /></div>-->
					<!--<span class="user_info_name">永之泰</span>-->
				<!--</div>-->
				<!--<div class="user_jifen">126000积分</div>-->
			<!--</div>-->
			<div class="mh"></div>
			<div class="title_line line_bottom"><span class="line"></span>服务中心托管</div>
			<!--<div class="find_qb">-->
				<!--<div class="find">-->
					<!--<input type="button" class="find2 search" value="" />-->
					<!--<input type="text" class="find1" placeholder="按电话号码搜索" />-->
				<!--</div>-->
			<!--</div>-->

			<div class="jifen3">
				<div class="jifen3_2">
					<font>姓名</font><font>联系电话</font><font>操作</font></div>


				<div class="jifen3_1 info" style="display: block;">
					<font class="userName">{$re.info.nickname}</font>
					<font class="phone">{$re.info.phone_number}</font>
					<img src="/public/indexsource/images/jian1.jpg"/>
				</div>

				<div class="tmtm"></div>
			</div>
			<div class="userId" style="display: none;">{$re.info.id}</div>
			<!--<div class="jifen3">-->
				<!--<div class="jifen3_2"><span>ID号</span>-->
					<!--<font>姓名</font><i>性别</i></div>-->
				<!--<div class="jifen3_1"><span>123456</span>-->
					<!--<font>张三</font><i>男</i><img src="/public/indexsource/images/jian1.jpg"/></div>-->
				<!--<div class="jifen3_1"><span>54855</span>-->
					<!--<font>李四</font><i>女</i><img src="/public/indexsource/images/jian1.jpg"/></div>-->
				<!--<div class="tmtm"></div>-->
			<!--</div>-->
			<div class="jifen4">
				<div class="brokerage" style="display: none;"></div>
				<span>委托</span>
				<input class="number" type="number" name="number"/>
				<i>积分</i><br>
				<!--<span style="margin-top:1rem;margin-left:17%;font-style: normal;font-size: 1rem;">需要手续费：<b id="brokerage">&#45;&#45;</b><i>积分</i></span>-->
				<div>
				<button type="button" class="button1"><a href="#">确定</a></button>
				<button type="button" class="button2"><a href="#">取消</a></button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
			    $('.number').keyup(function(){
			        var num = $(this).val();
			        var brokerageNum = parseInt(num);
                    brokerageNum = Math.round(brokerageNum*100)/100;
				})
				$(".jifen3_1").click(function() {
					$(".tmtm").css("display", "block");
				})
				$(".jifen3_1").click(function() {
					$(".jifen4").css("display", "block");
				})
				$(".button1").click(function() {
					$(".tmtm").css("display", "none");
				})
				$(".button1").click(function() {
				    var number = $('.number').val();
                    var getId = $('.userId').html();
				    var data = {'number':number,'getId':getId};
				    if(number == ''){
                        layer.msg('请输入要赠送的积分数',{icon:0,time:2000});
                        return false;
                    }
				    // console.log(data);return;
                    $.ajax({
                        type: "GET",
                        url: '/givePointService',
                        data: data,
                        dataType: "json",
                        success: function(result){
                            if(result.type == 'success'){
                                layer.msg(result.msg,{icon:1,time:2000});
                            }else{
                                layer.msg(result.msg,{icon:0,time:2000});
                            }

                        }
                    });

					$(".jifen4").css("display", "none");
				})
				$(".button2").click(function() {
					$(".tmtm").css("display", "none");
				})
				$(".button2").click(function() {
					$(".jifen4").css("display", "none");
				})

			})
		</script>

		<!--底部-->
		{include file="public/indexsource/foot/footer.html" /}

	</body>

</html>